.preview {
    border: 1px solid black;
}
img {
    width: auto;
    height: 200px;
}

/* img:hover {
    transform: scale(1.1);
} */

@media (max-width: 998px) {
    img {
        height: 80px;
    }
}

@media (max-width: 772px) {
    img {
        height: 60px;
    }
}